aiohttp==3.11.16
fastapi==0.115.12
GitPython==3.1.44
packaging~=24.2
pydantic~=1.9.1
pytest==8.3.5
python_gitlab==4.4.0
SQLAlchemy==1.4.44
sqlalchemy-doris==0.2.2
SQLAlchemy-Utils==0.41.2
PyMySQL==1.1.1
python-gitlab~=4.4.0
db~=0.1.1
aenum~=3.1.15
asyncio~=3.4.3
requests==2.32.3
redis==5.2.1
starlette==0.46.2
uvicorn==0.34.2
apache-flink==2.0.0
faker==37.1.0
pandas==2.2.3